body {
  padding: 20px;
}

.App {
  /* 정렬 */
  margin: 0 auto;
  width: 500px;
}

.App > section {
  /* App 컴포넌트 최상위 태그 바로 아래의 <Section> 에만 적용  */
  padding: 20px;
  background-color: rgb(245, 245, 245);
  border: 1px sollid rgb(240, 240, 240);
  border-radius: 5px;
  margin-bottom: 10px;
}
